.mines-game-board-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 625px;
  max-width: 625px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.mines-game-board-tile-mine {
  min-height: 125px;
  min-width: 125px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mines-game-board-tile-gem {
  min-height: 125px;
  min-width: 125px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mines-game-board-tile-default {
  min-height: 125px;
  min-width: 125px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
